<html>
  <head>
    <title> Frank's blog </title>
  </head>
  <body>
    <div>
      <h1>This is a first webpage</h1>

      <p>Hi there!!</p>
      <p>The basic site works</p>
      <p>I started from <a href="https://djangogirls.org"> this tutorial </a> for this site  </p>
    </div>

    {% for post in posts %}
      <div>
        <p>Published: {{post.published_date}}</p>
        <p><h2>{{post.title}}</h2></p>
        <p>{{post.text|linebreaksbr}}</p>
      </div>
    {% endfor %}
  </body>
</html>
